# Firebase Client Configurations
# Retrieve these values from your Firebase Project Settings -> General -> Your Apps -> Web App config
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDJVno3ErYkX6UXazFWYXahXHzkLEXhLxQ
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=abdullah-portfolio-453c1.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=abdullah-portfolio-453c1
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=abdullah-portfolio-453c1.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=324889582829
NEXT_PUBLIC_FIREBASE_APP_ID=1:324889582829:web:af3edcc25fb9c250bd80e4
